# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Virtual Environment
invoice/invoice/
invoice/lib64
invoice/share/
venv/
env/
.env/
bin/
lib/
lib64/
pyvenv.cfg


# Ignore system files
*.DS_Store
